html,
body {
    padding: 0;
    margin: 0;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: georgia, sans-serif, arial;
    padding: 1em;
    font-size: 1em;
}

h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 1.6em;
}

@media(min-width: 600px) {
    h1 {
        font-size: 2em;
    }
}

p {
    padding: 0;
    margin: 0 0 .5em 0;
}

a,
a:visited {
    color: blue;
}

.friendly-text a,
.friendly-text a:visited {
    color: #222;
}
